{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Мероприятие
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    Мероприятие
                    {% if date %}
                        от {{ date | date:"d.m.Y" }}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}