{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Добавить ребенка
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    Добавить ребенка
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}