{% extends 'base.html' %}
{% load static %}

{% block title %}
    Информация родителям
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mx-auto mb-3">
            <h4 class="text-center">Сведения о медицинских работниках (врачах) с указанием уровня образования и
                квалификации </h4>
            <img src="{% static 'images/3.png' %}" alt="База"
                 class="w-100 mx-auto d-block img-thumbnail">
        </div>
    </div>
{% endblock %}