{% extends 'base.html' %}
{% load static %}

{% block title %}
    Информация родителям
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto mb-3">
            <h4 class="text-center">Информация родителям.</h4>
            <h5 class="text-center">Вопросы, которые могут возникнуть перед покупкой путевки</h5>
            <img src="{% static 'images/1.jpg' %}" alt="Информация родителям"
                 class="w-100 mx-auto d-block img-thumbnail">
            <b>Как приобрести путевку? </b>
            <p>
                Путевку можно приобрести непосредственно у нас, сделав заявку через форму бронирования или позвонив по
                телефону, а также через одно из агентств-партнеров.
            </p>
            <b>Можно ли вернуть путевку, если по каким-то причинам ребенок не может поехать в санаторий?</b>
            <p>
                Путевку можно вернуть в соответствии с условиями, прописанными в договоре.
            </p>
            <b>За что могут отчислить из санатория?</b>
            <p>
                Администрация санатория по решению медико-педагогического совета имеет право депортировать ребенка до
                места
                проживания за счет родительских средств и в их сопровождении, при следующих нарушениях:<br>
                1. Распитие спиртных напитков, включая пиво.<br>
                2. Употребление наркотических средств.<br>
                3. Грубое, неоднократное нарушение режима.<br>
                4. Воровство.<br>
                5. Выход за территорию санатория без сопровождения взрослых.<br>
                6. Неоднократное нарушение правил поведения на воде.<br>
                7. При наличии противопоказаний для санаторно-курортного лечения.<br>
            </p>
            <b>Можно ли выбрать комнату заранее?</b>
            <p>Такая возможность не предусмотрена.</p>
            <b>Сколько вожатых выделяется на отряд?</b><br>
            <b>Какой в санатории распорядок дня?</b><br>
            <b>Какие есть способы оплаты путевки?</b><br>
            <b>Можно ли купить путевку в рассрочку?</b><br>
            <b>Вернут ли деньги, если по каким-то причинам ребенка забрали из санатория до окончания смены?</b><br>
            <b>Вернут ли деньги, если ребенок был отправлен домой за нарушение правил санатория?</b><br>
            <b>Застрахованы ли дети на время пребывания в санатории?</b><br>
            <b>Какие противопоказания для пребывания в санатории?</b><br>
            <b>Какое в санатории возрастное ограничение?</b><br>


            <h5 class="text-center">ПИТАНИЕ</h5>
            <h6 class="text-center">Польза и разнообразие</h6>
            В учреждениях детского отдыха питание должно соответствовать:<br>
            - санитарно-гигиеническим требованиям и технологиям приготовления пищи;<br>
            - нормам, рекомендованным Минздравом в отношении разработки меню;<br>
            - списку разрешенных продуктов;<br>
            - множеству нормативных актов и предписаний.<br><br>

            На первый взгляд пугающий список ограничений, но благодаря им в рационе оказывается только полезная и
            привычная пища, к которой дети легко адаптируются.<br><br>

            Мясо, рыба, птица, полезные десерты, свежие фрукты и овощи - каждый день наши повара стараются удивить деток
            чем-то новым.

        </div>
    </div>
{% endblock %}