<nav class="col-md-2 d-done d-md-block bg-light sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Мой профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'children' %}">Мои дети</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'events:list' %}">Мероприятия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'parent_info' %}">Информация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'basa' %}">База мед. работников</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news:list' %}">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_children' %}">Дети</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
        </li>

    </ul>
</nav>